body * + * {
  margin-top: $spacing-normal;
}

html {
  font-size: 100%;
}

body {
  background: $color-background;
  font: 18px/1.4 $fonts-general;
  color: $color-text;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fonts-headers;
  color: $color-header;
  font-weight: bold;

  line-height: 1.7;
  padding: 0;

  a {
    border-bottom: 1px solid transparent;
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: $font-size-huge;
}

h2 {
  font-size: $font-size-large;
}

h3 {
  font-size: $font-size-normal;
}

h4 {
  font-size: $font-size-small;
}

h5, h6 {
  font-size: $font-size-tiny;
}

p {
}

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $color-primary-dark;
    text-decoration: underline;
  }
}

ul, ol {
  padding-left: $spacing-normal;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: rgba($black, .75);
}

.inner-container {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}

// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: $color-primary;
}
::selection {
  color: $white;
  background: $color-primary;
}
