.header__wrapper {
  width: 100%;
  background: $color-primary;
  background: linear-gradient( 25deg, darken($color-primary, 10), $color-primary );
  //background-image: url(images/photo-1437751068958-82e6fccc9360.jpg);
  background-position-y: -10%;
  background-size: cover;
  padding: $spacing-normal;
  color: $white;
  display: flex;
  align-items: flex-end;
  height: 60vh;
}

.header a {
  color: $white;
  &:hover {
    color: lighten($color-primary, 10);
  }
}

.header__avatar-link {
  display: block;
  width: 120px;
  max-height: 120px;
  overflow: hidden;
  border-radius: 3px;
  float: left;
  margin-right: $spacing-normal;
}

.header__site-name__link {
  color: $white;
  font-size: 1.5rem;
  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}

.header__site-description {
  margin: 0;
}

.header {
  background: teal;
  padding: .75rem;
  width: 400px;
  border-radius: 5px;
}
