.header__nav {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(-50%);
    margin: 0;
    max-width: 740px;
    width: 100%;
    background: $white;
    text-align: right;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:  5px;
    padding: $spacing-normal;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

.header__nav__link {
    display: block;
    padding: $spacing-small;
    margin: 0;
    color: $color-primary;
    border-radius: 5px;
    &:hover {
        background: $color-primary;
        color: $white;
        text-decoration: none;
    }
}
