.nav {
    margin: 0 auto;
    max-width: 740px;
    width: 100%;
    text-align: right;
    padding: $spacing-normal;
}

.nav__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav__link {
    display: block;
    padding: $spacing-small;
    margin: 0;
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size-tiny;
    &:hover {
        background: $color-primary;
        color: $white;
        text-decoration: none;
        border-radius: 5px;
        border-color: transparent;
    }
    + .nav__link {
      border-left: 1px solid rgba($black, .05);
      padding-left: $spacing-small;
      marignl-left: $spacing-small;
    }
}
