
//
// VARIABLES
//

// Colors
$color-primary: #00838F;

$color-background: #fefefe;
$color-text: #333;
$color-header: #222;

// Black and white
$black: #222;
$white: #fafafa;

// Font stacks
$fonts-general: 'Slabo 27px', Helvetica, Arial, sans-serif;
$fonts-headers: 'Sue Ellen Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Spacing and sizing
$spacing-normal: 1.5rem;
$spacing-small: $spacing-normal / 2;
$spacing-large: $spacing-normal * 2;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
