
//
// VARIABLES
//

// Colors
$color-primary: #558B2F;

$color-background: #fefefe;
$color-text: #333;
$color-header: #222;

// Black and white
$black: #222;
$white: #fafafa;

// Font stacks
$fonts-general: 'Lato', Helvetica, Arial, sans-serif;
$fonts-headers: 'Libre Baskerville', Georgia, serif;

// Spacing and sizing
$spacing-normal: 1.5rem;
$spacing-small: $spacing-normal / 2;
$spacing-large: $spacing-normal * 2;

$font-size-tiny:  .75rem;
$font-size-small: .85rem;
$font-size-normal: 1rem;
$font-size-large: 1.25rem;
$font-size-huge: 1.5rem;

// Mobile breakpoint
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Useful mixins
@mixin height($height: 1) {
  box-shadow: #{$height}px #{$height}px 3px 3px rgba($black, .25);
}
