
//
// VARIABLES
//

// Colors
$color-primary: #448AFF;
$color-primary-light: #90CAF9;
$color-primary-dark: #0D47A1;

$color-background: #fefefe;
$color-text: #333;
$color-header: #222;

// Black and white
$black: #222;
$white: #fafafa;

// Font stacks
$fonts-general: 'Fauna One', Helvetica, Arial, sans-serif;
$fonts-headers: 'Playfair Display', Georgia, serif;

// Spacing and sizing
$spacing-normal: 1.5rem;
$spacing-small: $spacing-normal / 2;
$spacing-large: $spacing-normal * 2;

$font-size-tiny:  .75rem;
$font-size-small: .85rem;
$font-size-normal: 1rem;
$font-size-large: 3rem;
$font-size-huge: 3.5rem;

// Mobile breakpoint
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Useful mixins
@mixin height($height: 1) {
  $blur: $height * 2;
  box-shadow: #{$height}px #{$height}px #{$blur}px #{$blur}px rgba($black, .1);
}
