<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}
        {{ page.title }} –
      {% endif %}
      {{ site.name }} – {{ site.description }}
    </title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="header__wrapper">
      <div class="inner-container">
        <header class="header">
          <a href="{{ site.baseurl }}/" class="header__avatar-link"><img src="{{ site.avatar }}" class="header__avatar" /></a>

          <div class="header__site-info">
            <h1 class="header__site-name"><a href="{{ site.baseurl }}/" class="header__site-name__link">{{ site.name }}</a></h1>
            <p class="header__site-description">{{ site.description }}</p>
          </div>

          <nav class="header__nav">
            <a href="{{ site.baseurl }}/" class="header__nav__link">Blog</a>
            <a href="{{ site.baseurl }}/about" class="header__nav__link">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="main">
      <div class="inner-container">
        {{ content }}
      </div>
    </div>

    <div class="footer__wrapper">
      <div class="inner-container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

  <link href="https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville:700" rel="stylesheet">

  </body>
</html>
