<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}
        {{ page.title }} –
      {% endif %}
      {{ site.name }} – {{ site.description }}
    </title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display" rel="stylesheet">

  </head>

  <body class="{{ page.layout | slugify }} {{ page.title | slugify }}">
    <div class="header__wrapper">
      <div class="inner-container">
        <header class="header">
          <a href="{{ site.baseurl }}/" class="header__avatar-link">
            <div class="header__avatar__wrapper">
              <img src="{{ site.avatar }}" class="header__avatar" />
            </div>
          </a>

          <div class="header__site-info">
            <h1 class="header__site-name"><a href="{{ site.baseurl }}/" class="header__site-name__link">{{ site.name }}</a></h1>
            <p class="header__site-description">
              {{ site.description }}
              {% if site.footer-links.email %}<span>|</span> <a href="mailto:{{ site.footer-links.email }}">{{ site.footer-links.email }}</a>{% endif %}
            </p>
          </div>
        </header>
      </div>
    </div>

    <div class="nav">
      <nav class="nav__wrapper">
        <a href="{{ site.baseurl }}/" class="nav__link">About</a>
        <!-- <a href="{{ site.baseurl }}/blog" class="nav__link">Blog</a> -->
        <a href="{{ site.baseurl }}/documents/{{ site.current-cv }}" class="nav__link">Download my CV</a>
        <a href="{{ site.baseurl }}/documents/{{ site.teaching philosophy }}" class="nav__link">Teaching Philosophy</a>
      </nav>
    </div>

    <div id="main" role="main" class="main">
      <div class="inner-container">
        {{ content }}
      </div>
    </div>

    <div class="footer__wrapper">
      <div class="inner-container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

  </body>
</html>
